.hero-section-background {
  background-color: #333;
  width: 100%;
  position: relative;
}

.hero-section-container {
  display: flex;
  justify-content: space-between;
  /* width: 85%; */
  margin: 0 auto;
  color: #fff;
}

.section-right {
  width: 50%;
  z-index: 1;
  padding: 120px 0 120px 80px;
  /* margin-left: 25%; */
}

.section-right h1 {
  color: #f4ce14;
}
.section-right h2 {
  margin-bottom: 40px;
}

.section-right h1,
h2 {
  line-height: 0.8;
}

.section-right p {
  width: 75%;
  margin: 20px 0;
}

.btn {
  padding: 13px 28px;
  font-size: 14pt;
  font-weight: 600;
  background-color: #f4ce14;
  color: #333333;
  border-radius: 20px;
  border: none;
  border: 2px solid #f4ce14;
}

.btn:hover {
  cursor: pointer;
  background-color: #333333;
  color: #f4ce14;
  transition: 0.3s;
}

.section-left {
  width: 50%;
  position: relative;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
}

.image-box img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .hero-section-background {
    padding-top: 10vh;
  }

  .hero-section-container {
    width: 100%;
    padding: 30px;
  }
  .section-right {
    padding: 80px 0 80px 40px;
  }

  .section-left h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 34px;
  }
}

@media screen and (max-width: 659px) {
  .hero-section-container {
    flex-direction: column;
  }

  .image-box {
    width: 100%;
    height: 250px;
    position: initial;
  }
  .section-left {
    width: 100%;
  }

  .section-left p {
    width: 100%;
    font-size: smaller;
  }

  .section-right {
    position: initial;
    width: 100%;
    margin: 0;
    padding: 40px 0;
  }

  .btn {
    font-size: smaller;
  }
}
